[Unit]
Description=Instrumented Java Service
Documentation=man:parfait(1)
After=network-online.target pmwebd.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/java -XX:+PreserveFramePointer -Dparfait.name=acme -javaagent:/usr/share/java/parfait/parfait.jar -jar /usr/share/java/parfait/acme.jar Main

[Install]
WantedBy=multi-user.target
