# Ignore everything
*

# But not these files...
!/.gitignore
!/home/alpine/.jprofiler10/jprofiler_config.xml
!/home/alpine/.jprofiler11/jprofiler_config.xml
!/home/alpine/entrypoint.sh
!/home/alpine/HuaKangShouZhaTiw5-1.ttf
!/home/alpine/test.jsh
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/sub/directory_x/file.txt
!*/sub/directory_y/*
